<a href="https://colab.research.google.com/github/tasninkhanlamha/SkillMorph/blob/main/Assignment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# H10: Write a program that prompts the user to input a number N and prints all even numbers between 1 and N using a for loop.

In [19]:
N = int(input("Enter your number:"))

for i in range(1,N):
  if i%2==0:
    print("{}".format(i))

Enter your number:10
2
4
6
8

In [ ]:
# H11: Write a program that prompts the user to input a number N and calculates the sum of all numbers from 1 to N that are divisible by 3 or 5.

In [33]:
N = int(input("Enter your number:"))
sum=0

for i in range(1,N):
  if i%3==0 or i%5==0:
    sum=i+sum

print("{}".format(sum))

Enter your number:10
23

In [ ]:
# H12: Write a program that prompts the user to input a number n and prints the multiplication table of n (1 to 10) using a for loop.

In [55]:
N = int(input("Enter your number:"))

for i in range(1,N+1):
    for j in range(1,11):
      Mul=j*i
      print(f"{i} X {j} ={Mul}")

Enter your number:3
1 X 1 =1
1 X 2 =2
1 X 3 =3
1 X 4 =4
1 X 5 =5
1 X 6 =6
1 X 7 =7
1 X 8 =8
1 X 9 =9
1 X 10 =10
2 X 1 =2
2 X 2 =4
2 X 3 =6
2 X 4 =8
2 X 5 =10
2 X 6 =12
2 X 7 =14
2 X 8 =16
2 X 9 =18
2 X 10 =20
3 X 1 =3
3 X 2 =6
3 X 3 =9
3 X 4 =12
3 X 5 =15
3 X 6 =18
3 X 7 =21
3 X 8 =24
3 X 9 =27
3 X 10 =30

In [ ]:
#Write a function to calculate the sum of numbers from 1 to N.

In [68]:
N = int(input("Enter your number:"))

def sum_function(N):
    return N*(N+1)/2

print(sum_function(N))

Enter your number:6
21.0

In [ ]:
#Write a function that returns the square of a number.

In [73]:
N = int(input("Enter your number:"))

def sum_function(N):
     return N**2

print(sum_function(N))

Enter your number:5
25

In [ ]:
#Write a function that checks whether a number is even.

In [78]:
from os import eventfd
N = int(input("Enter your number:"))

def sum_function(N):
      return N%2==0


if sum_function(N):
  print("even")
else:
  print("odd")

Enter your number:6
even

In [ ]:
#Write a function that returns the larger number.

In [ ]:
#Write a function that returns the larger number.